<div class="sidebar">
    <div class="sidebarWrapper">
        <ul class="sidebarFriendList">
            <li class="sidebarFriend">
               <img class="sidebarFriendImg" src="{{picture.url}}" alt=""/>
               <span class="sidebarFriendName">{{request.user}}</span>
            </li>

         </ul>
         <hr class="sidebarHr"/>
       <ul class="sidebarList">
            <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class="blind icon large" style="color: red;"></i> Friends</span>
            </li>
            <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class="user secret icon large" style="color: #4857F0;"></i> Groups</span>
            </li>
            <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class="  bookmark icon large" style="color: #4EC1D5;"></i> Bookmarks</span>
            </li>
            <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class="hourglass end icon large" style="color: #EA004C;"></i> Question</span>
            </li>
            <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class="tasks icon large" style="color: #ED572F;"></i> Jobs</span>
            </li>
             <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class=" flag checkered icon large"></i> Events</span>
            </li>
            <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class="heartbeat icon large" style="color: #FCAF21;"></i> Memories</span>
            </li>
            <li class="sidebarListItem">
                <span class="sidebarListItemText"> <i class="shekel sign icon large" style="color: #696F63;"></i> Pages</span>
            </li>

          
       </ul>
       <button class="sidebarButton"><i class="sort down icon large"></i> See more</button>
      
      
    </div>


 </div>